@font-face {
  font-family: futura-pt;
  src: url("./../fonts/FuturaPTBold.otf") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: futura-pt-light;
  src: url("./../fonts/FuturaPTBook.otf") format("woff");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: futura-pt-italic;
  src: url("./../fonts/FuturaPTBookOblique.otf") format("woff");
  font-weight: 400;
  font-style: italic;
}
