#footer-banner {
  position: fixed;
  width: 100%;
  bottom: 0px;
  background-color: #000;
  color: #fff;
  padding: 15px 5px;
  text-align: center;
  opacity: 0.9;
  font-size: 1rem;
  letter-spacing: 2px;
}

@media screen and (max-width: 760px) {
  .desktop-only {
    display: none;
  }
}
