body {
  overflow-y: hidden;
}

#footer-banner {
  position: fixed;
  width: 100%;
  bottom: 0px;
  background-color: #000;
  color: #fff;
  padding: 15px 5px;
  text-align: center;
  opacity: 0.9;
  font-size: 1rem;
  letter-spacing: 2px;
}

.marquee3k {
  position: fixed;
  width: 100%;
  bottom: 45px;
  padding: 3px 0;
  letter-spacing: 1px;
  color: #fff;
  font-size: 0.7rem;
  background-color: #222;
  opacity: 0.95;
  z-index: 99;
}

.marquee3k__copy {
  padding-right: 3rem;
  box-sizing: border-box;
}

.overlay {
  position: fixed;
  height: 100%;
  top: 0;
  width: 100%;
  color: #c9c9c9;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  /* transition: 0.5s; */
  z-index: 100;
}

.overlay a {
  text-decoration: none;
  color: #c9c9c9;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #fff;
}

.overlay .closebtn {
  position: absolute;
  top: 4rem;
  right: 2rem;
  font-size: 40px !important;
}

.overlay-ad {
  position: fixed;
  height: 100%;
  top: 60px;
  width: 100%;
  overflow-x: hidden;
}

.overlay-content {
  position: relative;
  top: 32%;
  padding: 1rem;
  /* width: 100%; */
  text-align: center;
}

.overlay-content .title {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 2rem;
  color: #fcfcfc;
  margin-bottom: 1.3rem;
}

.overlay-content .guide {
  font-size: 0.9rem;
  line-height: 1.7rem;
}

.overlay-content .wp-logo img {
  width: 60px;
  margin-bottom: 1.1rem;
}

@media screen and (min-width: 480px) {

  .mobile-only {
    display: none;
  }

}

@media screen and (max-width: 760px) {
  .desktop-only {
    display: none;
  }
  .marquee3k {
    font-size: 10px;
  }
}

@media screen and (max-width: 480px) {
  .desktop-only {
    display: none;
  }
  .marquee3k {
    font-size: 9px;
  }
}
